<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
    </configSections>
    <system.web>
      <httpRuntime maxRequestLength ="16384"/>
        <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <add verb="GET" path="CaptchaImage.aspx" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
      </httpHandlers>
    </system.web>

    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <appSettings>
    <add key="LimitedSize" value="5000000" />
    <add key="username" value="administrator" />
    <add key="Password" value="pass@word1" />
    <add key="Domain" value="democrm" />
    <add key="Organization" value="helpdesk" />
    <add key="Url" value="http://192.168.77.119" />
  </appSettings>
</configuration>
