/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: White;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 945px;
    background-color: White;
    margin: 0px auto 0px auto;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: White;
    width: 945px;
}

.main
{
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    min-height: 0px;
}

.footer
{
    color: White;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:White;
    width:945px;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: 945px;
}

